<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeeAM</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/dashboardAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
        <%- body %>
</body>
    <script src="/js/dashboardAdmin.js"></script>
</html>