<!DOCTYPE html>
<html>
  <head><title>Product Seller</title></head>
  <body>
    <h1>Welcome to our app!</h1>
    <p><a href="/login">Login</a> or <a href="/register">Register</a></p>
    <p><a href="/products">View Products</a></p>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>

    

  </body>
</html>