<div class="container">
  <div class="center-box-register">
    <h3 class="register-header">REGISTER</h3>

    <form method="POST" action="/register" class="form-register">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required>
      <br><br>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
      <br><br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
      <br><br>
      <button type="submit" class="btn-primary">Register</button>
    </form>
    <p>Already have an account? <a href="/login" class="Register_here">Login here</a>.</p>
  </div>
</div>