.container {
  height: 100vh;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.center-box {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.center-box a:hover {
  color: #8644ff;
}
